<html>
<link rel="stylesheet" href="/css/bootstrap.css">
<!--link rel="stylesheet" href="/css/bootstrap-responsive.css"-->
<style>
    /*body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 11pt;
        width: 8cm;
        max-width: 8cm;
        margin: 3mm;
    }

    h1 {
        font-size: 17.5px;
        font-weight: bold;
        line-height: 20px;
        margin: 10px 0;
    }

    p {
        margin: 0 0 10px;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    td {
        font-size: 10pt;
        padding: 4px 5px;
        border-top: 1px solid #DDDDDD;
        line-height: 20px;
        text-align: left;
        vertical-align: top;
    }

    .pull-right {
        float: right;
    }

    .clearfix {
        clear: both;
    }

    td.text-right {
        text-align: right;
    }
    tr:last-child td {
        border-bottom: 2px solid #DDDDDD;
    }

    span.circle {
        font-size: 25pt;
        border-radius: 25px;
        border: 2px solid black;
    }

    span.circle > span {
        margin: 5px;
    } */

    body {
        font-size: 16pt;
        line-height: 22pt;
        width: 15cm;
        max-width: 15cm;
    }

</style>
<body>
<div id="container">
    <h2>Bistro-Bestellung Nr. <%= order.no %></h2>
    <p>vom <%= moment(order._id.getTimestamp()).format('DD.MM.YYYY HH:mm') %></p>
    <% if (order.kitchenNotes && order.kitchenNotes.trim().length > 0) { %>
    <div class="alert">
        <strong>Hinweis für die Küche:</strong>
        <%
        var notes = order.kitchenNotes.split('\n');
        for (var i = 0; i < notes.length; i++) {
        %>
        <br/><%= notes[i] %>
        <% } %>
    </div>
    <% } %>
    <ul>
        <% for(var i = 0; i < order.articles.length; i++) {
        var article = order.articles[i];
        if (article.kitchen) {
        %>
        <li><%= article.ordered%>x <%= article.name %></li>
        <% }} %>
    </ul>
</div>