<html>
<!--link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-responsive.css"-->
<style>
    body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 11pt;
        width: 8cm;
        max-width: 8cm;
        margin: 3mm;
    }

    h1 {
        font-size: 17.5px;
        font-weight: bold;
        line-height: 20px;
        margin: 10px 0;
    }

    p {
        margin: 0 0 10px;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    td {
        font-size: 10pt;
        padding: 4px 5px;
        border-top: 1px solid #DDDDDD;
        line-height: 20px;
        text-align: left;
        vertical-align: top;
    }

    .pull-right {
        float: right;
    }

    .clearfix {
        clear: both;
    }

    td.text-right {
        text-align: right;
    }
    tr:last-child td {
        border-bottom: 2px solid #DDDDDD;
    }

    div.circle {
        float: right;
        font-size: 25pt;
        border-radius: 25px;
        border: 2px solid black;
    }

    div.circle > div {
        margin: 5px;
    }

</style>
<body>
<div id="container">
    <% if (order.no) { %>
    <div class="number">
        <div class="circle">
            <div>Nr. <%= order.no %></div>
        </div>
    </div>
    <% } %>
    <h1>Bistro-Bestellung</h1>
    <p>vom <%= moment(order._id.getTimestamp()).format('DD.MM.YYYY HH:mm') %></p>
    <% if (order.kitchenNotes && order.kitchenNotes.trim().length > 0) { %>
    <p>Hinweis für die Küche:
        <%
            var notes = order.kitchenNotes.split('\n');
            for (var i = 0; i < notes.length; i++) {
        %>
        <br/><em><%= notes[i] %></em>
        <% } %>
    </p>
    <% } %>
    <table class="table table-condensed">
        <% for(var i = 0; i < order.articles.length; i++) {
        var article = order.articles[i];
        %>
        <tr>
            <td><%= article.receipt || article.name %>
                <% if (article.ordered > 1) { %>
                <div class="pull-right">
                <%= article.ordered %> &times; <%= formatCurrency(article.price[order.currency]) %>
                </div>
                <% } %>
            </td>
            <td class="text-right"><%= formatCurrency(article.ordered * article.price[order.currency]) %></td>
        </tr>
        <% } %>
        <tr>
            <td colspan="2">
                <strong>Total</strong>
                <div class="pull-right"><strong><%= order.currency.toUpperCase() %> <%= formatCurrency(order.total) %> </strong></div>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
